{{template "base" .}}

{{define "content"}}
    <div class="container mt-5 pt-4">

       <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="./static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block" alt="Generals Quarters">
            </div>
        </div>

        <h1 class="text-center">Majors Suite</h1>
        <p>With majestic Mt. Baker rising beyond the water, this three-bedroom rental offers unparalleled mountain and water views. A private rocky beach just steps from the property provides the perfect place for crabbing, wildlife watching, and quiet contemplation. Keep a sharp eye out for seals, orcas, otters, and bald eagles.</p>

        <div class="text-center">
            <a href="/make-reservation.html" class="btn-success btn">Check Availability</a>
        </div>

    </div>
{{end}}